<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mikeoye.afrihub">

    <!-- Network connectivity permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AfrihubApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SignInActivity"
            android:label="@string/empty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".WelcomeActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".WelcomeActivity" />

        </activity>

        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".WelcomeActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".WelcomeActivity" />

        </activity>

        <activity
            android:name=".CourseSelectionActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".CourseUpdateActivity"
            android:label="@string/course_update"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

        </activity>

        <activity
            android:name=".ProfileUpdateActivity"
            android:label="@string/profile_update"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

        </activity>

        <activity
            android:name=".CourseDetailActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

        </activity>

        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>